# Mantener para compatibilidad Mac Intel (Mario)
numpy<2
torch==2.2.2
transformers==4.38.2
sentence-transformers==2.6.0

# Backend y RAG
fastapi
uvicorn[standard]
langchain
langchain-community
langchain-ollama
python-dotenv

# Base de datos y PDFs (Katherin)
qdrant-client==1.9.0
pdfplumber
pypdf